{% include "header.html" %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="static/imgs/drink1.jpg" class="d-block w-100" alt="Cocktail">
        <div class="carousel-caption">
          <p>It's  Friyay!</p>
          <p>Head down to the Tavern, first drink is on the house!</p>
        </div>
    </div>
  </div>
</div>

  <main class="section-container">
    <h1>Can't make it due to all the restrictions?</h1>
    <p class="lead">
      <a href="{{ url_for('menu_item')}}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Click Here</a>
    </p>
  </main>

{% include "footer.html" %}